<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Movie Score - History{% endblock %} - Movie Predictor</title>
    <script src="../../../static/Chart.js"></script>
</head>
<body>x
<div class="mainBody">
    <div class="title introduction">
        <div class="title"><h1>Movie Score</h1></div>
        <div class="title"><p>
            Filter or search a movie to see details.
        </p></div>
    </div>
    <div class="tableBody">
        <form id="mainForm">
            <div class="functionBar">
                <div class="functionBar search text">
                    <input class="search" type="text" value="">
                </div>
                <div class="functionBar search button">
                    <input class="search" type="submit" value="search">
                </div>
            </div>
            <div class="tableDiv">

            </div>
            <div class="scoreChart">
                {% for movie in scoreChat%}
                    <div class="scoreChart oneChart">
                        <canvas id="myChart" width="400" height="400"></canvas>
                        <script  type="text/javascript">
                        var data = {
                        labels: ["Actor", "Actress", "Budget", "Director", "Investment", "Movie Box", "Prize"],

                        datasets: [
                        {
                            fillColor : "rgba(220,220,220,0.5)",
			                trokeColor : "rgba(220,220,220,1)",
			                pointColor : "rgba(220,220,220,1)",
			                pointStrokeColor : "#fff",
			                data: [{{movie.score_actor}}, {{movie.score_actress}},
			                {{movie.score_director}}, {{movie.score_budget}}, {{movie.score_investment}},
			                {{movie.score_movie_box}}, {{movie.score_prize}}]
                        }
                        ]
                        }
                        var ctx = document.getElementById("myChart").getContext("2d");
                        new Chart(ctx).Radar(data);
                        </script>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>
</body>
</html>