<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/static/sample.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/icon.png">
    <script type="text/javascript" src="/static/sample.js"></script>
    <meta charset="UTF-8">
    <title>Movie Predictor</title>
</head>
<body>
<!-- Input part -->
<div class="block">
    <div class="title">
        Create A New Movie
        <hr/>
    </div>
    <div class="block">
        <form action="/view/show" method="post">
            {% csrf_token %}
            <div class="add">
                <span>Title&nbsp</span>
                <input class="input" name="title" type="text" maxlength="200" required>
            </div>
            <div class="add">
                <span>Genre&nbsp</span>
                <select name="genre">
                    {% if genres %}
                        {% for genre in genres %}
                            <option value="{{ genre.id }}">{{ genre.genre }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="add">
                <span>Lead Actor&nbsp</span>
                <input class="input" name="actor1" type="text"
                       maxlength="200" required list="actors_autocomplete_list">
            </div>
            <div class="add">
                <span>Support Actor&nbsp</span>
                <input class="input" name="actor2" type="text"
                       maxlength="200" required list="actors_autocomplete_list">
            </div>
            <div class="add">
                <span>Director&nbsp</span>
                <input class="input" name="director" type="text"
                       maxlength="200" required list="director_autocomplete_list">
            </div>
            <div class="submit">
                <input class="submit" type="submit" name="" value="Submit">
            </div>
            <datalist id="director_autocomplete_list">
                {% if director_autocomplete %}
                    {% for name in director_autocomplete %}
                        <option value="{{ name | safe }}">
                    {% endfor %}
                {% endif %}
            </datalist>
            <datalist id="actors_autocomplete_list">
                {% if actors_autocomplete %}
                    {% for name in actors_autocomplete %}
                        <option value="{{ name | safe }}">
                    {% endfor %}
                {% endif %}
            </datalist>
        </form>
    </div>
    <div class="title">
        <hr/>
        <div class="center">
            Enter information to start predict.
            <br>
            Every field must be filled for prediction.
        </div>
    </div>
</div>
</body>
</html>