<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/static/sample.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/icon.png">
    <script type="text/javascript" src="/static/sample.js"></script>
    <meta charset="UTF-8">
    <title>Movie Predictor</title>
</head>
<body>
<!-- Input part -->
<div class="create main">
    <div class="title">
        Create A New Movie
        <hr/>
    </div>
    <div class="addDiv">
        <form action="/view/show" method="post">
            {% csrf_token %}
            <div class="add">
                <span>Title&nbsp</span>
                <input class="input" name="title" type="text" maxduration="200" required>
            </div>
            <div class="add">
                <span>Genre&nbsp</span>
                <select name="genre">
                    {% if genres %}
                        {% for genre in genres %}
                            <option value="{{ genre.id }}">{{ genre.genre }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="add">
                <span>Actors&nbsp</span>
                <input class="input" name="actors" type="text" maxduration="200" required>
            </div>
            <div class="add">
                <span>Director&nbsp</span>
                <input class="input" name="director" type="text" maxduration="200" required>
            </div>
            <div class="add">
                <span>Duration (min)&nbsp</span>
                <input class="input" name="duration" type="number" maxduration="3" required>
            </div>
            <div class="submit">
                <input class="submit" type="submit" name="" value="Submit">
            </div>
        </form>
    </div>
    <div class="title">
        <hr/>
        <div class="center">
            Enter information to start predict.
            <br>
            Every field must be filled for prediction.
        </div>
    </div>
</div>
</body>
</html>