<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/static/sample.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/icon.png">
    <script type="text/javascript" src="/static/Chart.js"></script>
    <script type="text/javascript" src="/static/sample.js"></script>
    <meta charset="UTF-8">
    <title>Movie Predictor</title>
</head>
<body>
<!-- Input part -->
<div class="create main">
    <div class="title">
        Prediction of {{ movie_title | safe }}
        <hr/>
    </div>
    <div class="general">
        {% if general_analysis %}
            <div class="general">{{ general_analysis.general }}</div>
            {% if general_analysis.actor %}
                <div class="actor general">{{ general_analysis.actor }}</div>
            {% endif %}
            {% if general_analysis.actress %}
                <div class="actress general">{{ general_analysis.actress }}</div>
            {% endif %}
            <div class="director general">{{ general_analysis.director }}</div>
            {% if general_analysis.duration %}
                <div class="duration general">{{ general_analysis.duration }}</div>
            {% endif %}
        {% endif %}
    </div>

    <div class="title">
        Score Distribution
        <hr/>
    </div>
    <div class="result main">
        <div class="general">
            <div class="details">
                <div class="chart">
                    <canvas id="myChart"></canvas>
                    <script type="text/javascript">
                        var data = {{ chart_js_data | safe }};
                        drawChart(data);
                    </script>
                </div>
                <div class="analysis">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>