<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/static/sample.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/icon.png">
    <script type="text/javascript" src="/static/Chart.js"></script>
    <script type="text/javascript" src="/static/echarts.js"></script>
    <script type="text/javascript" src="/static/sample.js"></script>
    <meta charset="UTF-8">
    <title>Movie Predictor</title>
</head>
<body>
<div class="block">
    <div class="title">
        Prediction of {{ movie_title | safe }}
        <hr/>
    </div>
    <div class="text-block">
        {% if general_analysis %}
            <div class="text-block">{{ general_analysis.general | safe }}</div>
            {% if general_analysis.actor %}
                <div class="text-block">{{ general_analysis.actor | safe }}</div>
            {% endif %}
            {% if general_analysis.actress %}
                <div class="text-block">{{ general_analysis.actress | safe }}</div>
            {% endif %}
            <div class="text-block">{{ general_analysis.director | safe }}</div>
            {% if general_analysis.duration %}
                <div class="text-block">{{ general_analysis.duration | safe }}</div>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="block">
    <div class="title">
        Score Distribution
        <hr/>
    </div>
    <div class="general">
        {% if chart_js_data %}
            {% for data in chart_js_data %}
                <div class="analysis">
                    {% for row in data.analysis %}
                        <div class="score">
                            {{ row | safe }}
                        </div>
                    {% endfor %}
                </div>

                <div class="chart">
                    <canvas id="{{ data.id | safe }}"></canvas>
                    <script type="text/javascript">
                        var data = {{ data.data_set | safe }}, id = "{{ data.id | safe }}";
                        drawRadarChart(id, data);
                    </script>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<!--
<div class="block">
    <div class="title">
        Score Components
        <hr/>
    </div>
    <div class="text-block">
        {% if score_components %}
            {% for row in  score_components %}
                <div class="percentage">
                    <div class="block">
                        <p>{{ row.name | safe }}Importance: {{ row.percentage | safe }}%</p>
                        <div class="meter">
                            <div class="meter-bar" style="width:{{ row.percentage | safe }}%">
                                &nbsp
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="block">{{ row.explanation | safe }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>-->

<div class="block">
    <div class="title">
        Overall Comparison
        <hr/>
    </div>
    <div class="block">
        <div class="comparison-chart" id="comparison-chart">
            <script>
                var numOfMoviesList = {{ num_of_movies_list | safe }};
                var avgDirectorScore = {{ avg_director_score_list | safe }};
                var avg_actor_score_list = {{ avg_actor_score_list |safe }};
                var avg_actress_score_list = {{ avg_actress_score_list | safe }};
                drawComparisonChart(numOfMoviesList, avgDirectorScore, avg_actor_score_list, avg_actress_score_list);
            </script>
        </div>
    </div>
</div>

</body>
</html>
