<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/static/sample.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/icon.png">
    <script type="text/javascript" src="/static/Chart.js"></script>
    <script type="text/javascript" src="/static/sample.js"></script>
    <meta charset="UTF-8">
    <title>Movie Predictor</title>
</head>
<body>
<div class="block">
    <div class="title">
        Prediction of {{ movie_title | safe }}
        <hr/>
    </div>
    <div class="general">
        {% if general_analysis %}
            <div class="general">{{ general_analysis.general | safe }}</div>
            {% if general_analysis.actor %}
                <div class="actor general">{{ general_analysis.actor | safe }}</div>
            {% endif %}
            {% if general_analysis.actress %}
                <div class="actress general">{{ general_analysis.actress | safe }}</div>
            {% endif %}
            <div class="director general">{{ general_analysis.director | safe }}</div>
            {% if general_analysis.duration %}
                <div class="duration general">{{ general_analysis.duration | safe }}</div>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="block">
    <div class="title">
        Score Distribution
        <hr/>
    </div>
    <div class="general">
        <div class="analysis">
            {% if movie_score %}
                <div class="score">General score: {{ movie_score.score | safe }}</div>
                {% if 0 != movie_score.actor_score %}
                    <div class="score">Actor: {{ movie_score.actor_score | safe }}</div>
                {% endif %}
                {% if 0 != movie_score.actress_score %}
                    <div class="score">Actress: {{ movie_score.actress_score | safe }}</div>
                {% endif %}
                <div class="score">Director: {{ movie_score.director_score | safe }}</div>
                <div class="score">Duration: {{ movie_score.duration_score | safe }}</div>
                <div class="score">Genre: {{ movie_score.genre_score | safe }}</div>
                <div class="score">Movie Box: {{ movie_score.avg_movie_box | safe }}</div>
            {% endif %}
        </div>
        <div class="chart">
            <canvas id="myChart"></canvas>
            <script type="text/javascript">
                var data = {{ chart_js_data | safe }};
                drawChart(data);
            </script>
        </div>
    </div>
</div>

<div class="block">
    <div class="title">
        Score Components
        <hr/>
    </div>
    <div class="general">
    </div>
</div>

<div class="block">
    <div class="title">
        Overall Comparison
        <hr/>
    </div>
    <div class="general">
    </div>
</div>
</body>
</html>