<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/static/sample.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/icon.png">
    <script type="text/javascript" src="/static/Chart.js"></script>
    <script type="text/javascript" src="/static/sample.js"></script>
    <meta charset="UTF-8">
    <title>Movie Predictor</title>
</head>
<body>
<!-- Input part -->
<div class="create main">
    <div class="title">
        Create A New Movie
        <hr/>
    </div>
    <div class="addDiv">
        <form action="/view/show" method="post">
            {% csrf_token %}
            <div class="add">
                <span>Title&nbsp</span>
                <input class="input" name="title" type="text" maxlength="200" required>
            </div>
            <div class="add">
                <span>Genre&nbsp</span>
                <select name="genre">
                    {% if genres %}
                        {% for genre in genres %}
                            <option value="{{ genre.id }}">{{ genre.genre }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="add">
                <span>Actors&nbsp</span>
                <input class="input" name="actors" type="text" maxlength="200" required>
            </div>
            <div class="add">
                <span>Director&nbsp</span>
                <input class="input" name="director" type="text" maxlength="200" required>
            </div>
            <div class="add">
                <span>Length&nbsp</span>
                <input class="input" name="length" type="number" maxlength="3" required>
            </div>
            <div class="submit">
                <input class="submit" type="submit" name="" value="Submit">
            </div>
        </form>
    </div>
</div>

<div class="result main">
    <div class="title">
        Score Distribution
        <hr/>
    </div>
    <div class="details">
        <div class="chart">
            <canvas id="myChart"></canvas>
            <script type="text/javascript">
                var data = {{ chart_js_data | safe }};
                drawChart(data);
            </script>
        </div>
        <div class="analysis">

        </div>
    </div>
</div>
</body>
</html>