
Django==1.10.3
Lasagne==0.1
macholib==1.5.1
git+https://github.gatech.edu/schawla32/moviescorepredictorml.git
modulegraph==0.10.4
pandas==0.19.1
scikit-learn==0.18.1
scikit-neuralnetwork==0.7
six==1.10.0
sklearn==0.0
Theano==0.8.2
