body
{
    font-family: San Francisco, STXihei, Arial, sans-serif;
    font-size: 18px;
    padding: 5% 5% 5% 5%;
}

span
{
    width: 20%;
    display: block;
    float: left;
}

div
{
    padding: 2% 2% 2% 2%;
}

input
{
    width: 40%;
    display: block;
}

.submit
{
    padding: 1% 30% 1% 30%;
}

canvas
{
    height: 95%;
    width: 95%;
}

.chart, .details
{
    float: left;
    width: 40%;
    height: 40%;
    min-height: 400px;
    min-width: 400px;
}



