body {
    font-family: San Francisco, STXihei, Arial, sans-serif;
    font-size: 1.2em;
    padding: 5% 5% 5% 5%;
}

span {
    width: 20%;
    display: block;
    float: left;
}

div {
    padding: 2% 2% 2% 2%;
    display: block;
}

input {
    width: 40%;
    display: block;
}

canvas {
    height: 95%;
    width: 95%;
}

.submit {
    padding: 1% 30% 1% 30%;
}

.block, .center, .general {
    width: 100%;
    float: none;
    line-height: 2;
    clear: both;
}

.block {
    padding: 0% 0% 0% 0%;
}

.center, .general, .score {
    font-size: 1em;
}

.chart, .analysis {
    float: left;
    width: 45%;
    min-height: 400px;
    min-width: 400px;
}

.center {
    text-align: center;
}

.score {
    padding: 5% 5% 5% 5%;
}
